<?xml version="1.0"?>
<model>
  <name>micromouse</name>
  <version>1.0</version>
  <sdf version='1.4'>simple_model.sdf</sdf>

  <author>
   <name>Frederick Wachter</name>
   <email>wachterfreddy@gmail.com</email>
  </author>

  <description>
    Example model for micromouse robot
  </description>
</model>